.panel {
  border: 1px solid #eeeeee;
  background: #f9f9f9;
}

.panel h4 {
  margin: 0;
  padding: 12px 16px;
}    
  
.panel-header {
  background: #eeeeee;
  position: relative;
  border-bottom: 1px solid #ffffff;
}

