{{ define "title" }}{{ .Meta.Title }}{{ end }}
{{ define "metatags" }}
{{ end }}
{{ define "css" }}{{ end }}
{{ define "main" }}
{{ $fqdn := .Fqdn }}

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

  <ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li class="active">404</li>
  </ol>

  <div class="row">
	<!-- Article main content -->
	<article class="col-md-8 maincontent">
	  <header class="page-header">
		<h1 class="page-title">Page not found</h1>
	  </header>
      <a href="/">Return Home</a>
	</article>
	<!-- /Article -->
	
	<!-- Sidebar -->
	<aside class="col-md-4 sidebar sidebar-right">
	</aside>
	<!-- /Sidebar -->
  </div>
</div>	<!-- /container -->

{{ end }}
{{ define "js" }}{{ end }}
