.clear {
  clear: both; }

.error {
  color: #FAAF23;
  font-weight: bold; }

.success {
  color: #2EB81F; }

span.pull-right {
  float: right; }

a.common-a {
  color: #11A5E0;
  padding: 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

a.common-a:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  background-color: #D6F3FF;
  color: #444444; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- gutter -- */
  padding: 6px 12px; }

.col-1 {
  width: 16.66%; }

.col-2 {
  width: 33.33%; }

.col-3 {
  width: 50%; }

.col-4 {
  width: 66.66%; }

.col-5 {
  width: 83.33%; }

.col-6 {
  width: 100%; }

.outline {
  outline: 1px solid #f6a1a1; }
  .outline * {
    outline: 1px solid #f6a1a1; }

@media all and (max-width: 800px) {
  .col-1 {
    width: 50%;
    float: none; }

  .col-2 {
    width: 50%;
    float: none; }

  .col-3 {
    width: 83.33%; }

  .col-4, .col-5, .col-6 {
    width: 100%; }

  .row .col-2:last-of-type, .row .col-5 ~ .col-1 {
    width: 100%; } }
@media all and (max-width: 650px) {
  .col-1 {
    float: none; }

  .col-2, .col-3, .col-4, .col-5, .col-6 {
    width: 100%; }
    .col-2 h1, .col-3 h1, .col-4 h1, .col-5 h1, .col-6 h1 {
      text-align: center; } }
form p {
  margin-bottom: 8px; }
form button {
  float: right;
  padding: 4px 8px;
  background: #d3f2ff; }

form.small {
  width: 320px;
  padding: 8px; }
  form.small label {
    width: 120px; }
  form.small input, form.small select {
    float: right; }

form.medium {
  padding: 12px; }
  form.medium label {
    margin-left: 16px; }
  form.medium input, form.medium select {
    width: 96%;
    margin-left: 16px; }
  form.medium textarea {
    border: 1px solid #eeeeee;
    width: 96%;
    margin-left: 16px;
    height: 220px; }
  form.medium textarea.newpage-metatags {
    height: 110px; }
  form.medium h4 {
    margin: 0 0 0 4px; }

select {
  text-indent: 0.01px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-image: url(../../images/select-arrow.png);
  background-position: 98%;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  text-overflow: '';
  white-space: nowrap;
  border: 1px solid #eeeeee;
  color: #939292;
  padding: 12px 8px;
  width: 96%; }

input {
  border: 1px solid #eeeeee;
  padding: 12px 8px;
  width: 96%;
  margin: 4px 0 0 16px; }

button[type="submit"] {
  border: 1px solid #eeeeee;
  color: #414141;
  padding: 12px 48px;
  text-align: center;
  margin: 0 12px 0 0; }

button[type="submit"]:hover {
  background: #11a5e0;
  color: #ffffff; }

label.newmedia-file input[type="file"] {
  position: fixed;
  top: -1000px; }

.newmedia-file {
  border: 1px solid #eeeeee;
  color: #939292;
  padding: 12px 8px;
  width: 96%;
  display: inline-block; }

.newmedia-file:hover {
  background: #eeeeee; }

.newmedia-file:active {
  background: #eeeeee; }

.newmedia-file :invalid + span {
  color: #A44; }

.newmedia-file :valid + span {
  color: #939292; }

.form-inline-checkboxes {
  width: 96%;
  background: #ffffff;
  margin: 0 0 0 16px;
  padding: 16px 0 8px 0;
  border: 1px solid #eeeeee; }
  .form-inline-checkboxes li {
    margin: 0 8px 0 0;
    display: inline-block; }
    .form-inline-checkboxes li label {
      color: #939292;
      margin: 0;
      line-height: 1;
      float: left; }
    .form-inline-checkboxes li input {
      margin: 0 4px;
      width: 8px;
      float: left; }

.resp-image {
  max-width: 100%;
  height: auto; }

.alert {
  font-size: .8em;
  margin: 12px 4px;
  padding: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.alert-success {
  border: 1px solid #74d14d;
  color: #2a680f;
  background: #dff0d8; }

.alert-info {
  border: 1px solid #0375de;
  color: #015db2;
  background: #d4f3fc; }

.alert-warning {
  border: 1px solid #f58104;
  color: #f58104;
  background: #fee9c3; }

.alert-error {
  border: 1px solid #ebccd1;
  color: #a94442;
  background: #f2dede; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background: #eeeeee;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background-image: linear-gradient(top, #eeeeee, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$baseColor', EndColorStr='$toColor'); }

.row p {
  font-size: .8em; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  min-height: 640px;
  position: relative; }

.header {
  background: #11a5e0; }
  .header h1 a {
    font-weight: 100;
    color: #ffffff;
    margin: 0 0 0 12px; }

.content {
  min-height: 600px; }

#form-login, #form-reset {
  width: 100%; }
  #form-login input, #form-reset input {
    background: #eeeeee; }
  #form-login input, #form-login select, #form-login button, #form-reset input, #form-reset select, #form-reset button {
    color: #414141;
    border: none;
    padding: 12px 8px;
    width: 100%;
    margin: 1px auto; }
  #form-login button, #form-reset button {
    margin: 12px auto; }
    #form-login button:hover, #form-reset button:hover {
      color: #ffffff; }

#reset-show {
  color: #7cbbd3;
  float: right; }
  #reset-show:hover {
    cursor: pointer; }

#contact-confirm {
  margin: 0 0 0 18px; }

#form-reset, #reset-confirm, #contact-confirm {
  display: none; }

nav ul {
  float: right;
  font-size: .8em;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none; }
  nav ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 12px 20px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    nav ul li:hover {
      background: #D6F3FF; }
    nav ul li a:hover {
      color: #444444; }
    nav ul li ul {
      padding: 0;
      position: absolute;
      top: 38px;
      left: 0;
      width: 150px;
      display: none;
      opacity: 0;
      visibility: hidden;
      -webkit-transiton: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      -transition: opacity 0.2s; }
      nav ul li ul li {
        background: #11a5e0;
        display: block; }
        nav ul li ul li a {
          color: #FFFFFF; }
        nav ul li ul li:hover {
          color: #FFFFFF;
          background: #D6F3FF; }
    nav ul li:hover ul {
      display: block;
      opacity: 1;
      visibility: visible; }
  nav ul a {
    color: #444444; }

#site-login ul {
  float: right; }
  #site-login ul li {
    border-radius: 4px;
    display: inline-block;
    margin: 0px 12px;
    font-size: 0.8em; }
    #site-login ul li a {
      padding: 4px 10px;
      border-radius: 4px;
      text-decoration: none;
      color: #b8c9d8; }
    #site-login ul li a:hover {
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      background-color: #11a5e0;
      color: #ffffff; }
    #site-login ul li a.active {
      background-color: #11a5e0; }

#site-page-edit {
  font-size: .65em;
  position: absolute;
  top: -6px;
  right: 12px;
  display: block-inline;
  padding: 0 6px;
  background: #2EB81F; }
  #site-page-edit a {
    color: #ffffff; }

#home-search ul, #home-subscribe ul {
  list-style-type: none; }
  #home-search ul input[type=text], #home-subscribe ul input[type=text] {
    width: 60%; }
  #home-search ul input[type=submit], #home-subscribe ul input[type=submit] {
    width: 30%; }

/*# sourceMappingURL=site.css.map */
