#topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #1a1a1a;
  -webkit-transform: scale3d(1, 1, 1);
  *zoom: 1;
  top: 0; }
  #topbar:after {
    content: "";
    display: table;
    clear: both; }
  #topbar .ink-navigation {
    *zoom: 1; }
    #topbar .ink-navigation ul.black li {
      font-size: 14px; }
      #topbar .ink-navigation ul.black li a {
        padding: .7em 1em;
        color: #bbb;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 24px;
        *height: auto; }
        #topbar .ink-navigation ul.black li a:hover {
          color: #fff; }
      #topbar .ink-navigation ul.black li ul li a:hover {
        color: #000; }
      #topbar .ink-navigation ul.black li a.ink-button {
        color: #fff;
        padding: 4px 12px;
        margin: 5px 1em;
        font-size: .875em;
        -webkit-border-radius: 2px;
        border-radius: 2px; }
        #topbar .ink-navigation ul.black li a.ink-button:hover {
          background: #0d68c2; }
      #topbar .ink-navigation ul.black li a.logoPlaceholder {
        margin-right: .5em;
        padding: .4em 0; }
        #topbar .ink-navigation ul.black li a.logoPlaceholder:hover {
          background: 0 0; }
      #topbar .ink-navigation ul.black li button.fa-bars {
        background: 0 0;
        color: #bbb;
        border: 0;
        padding: .8em .8em .8em 0;
        float: left; }
        #topbar .ink-navigation ul.black li button.fa-bars:active, #topbar .ink-navigation ul.black li button.fa-bars:focus, #topbar .ink-navigation ul.black li button.fa-bars:hover {
          color: #fff;
          outline: 0; }
      #topbar .ink-navigation ul.black li.active a {
        color: #fff; }
    #topbar .ink-navigation:after {
      content: "";
      display: table;
      clear: both; }

.avatar-thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px; }

form {
  padding: 12px; }

.sidebar ul li a {
  text-decoration: none;
  border-left: 3px solid #f0f0f0; }
.sidebar ul li:hover {
  background: none repeat scroll 0 0 #fff; }
.sidebar ul li a.active {
  background: none repeat scroll 0 0 #fff;
  color: #555;
  cursor: pointer;
  border-left: 3px solid #01b20d; }

.ink-navigation ul.menu.vertical li a {
  border-bottom: none;
  margin: 0 0 4px 0; }

.left-drawer a {
  color: #fff; }

.left-drawer a.active {
  font-weight: bold; }

.panel {
  border: 1px solid #ffffff;
  background: #f9f9f9; }

div.panel-header {
  background: #eeeeee;
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 2px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%); }
  div.panel-header h4 {
    margin: 0;
    padding: 12px 16px;
    font-size: 1.1em; }

div.panel-body {
  padding-top: 8px; }

.panel-preview-controls ul {
  padding: 4px;
  margin: 12px 0 0 0; }
  .panel-preview-controls ul li {
    font-size: .8em;
    display: inline-block;
    text-align: center;
    background: #D6F3FF; }
    .panel-preview-controls ul li:hover {
      background: #11a5e0;
      color: #ffffff; }
    .panel-preview-controls ul li a {
      display: block;
      padding: 2px 12px; }
      .panel-preview-controls ul li a:hover {
        color: #ffffff;
        text-decoration: none; }

html, body {
  background: #ffffff;
  font-weight: 300;
  font-size: 1em;
  height: 100%;
  background: #f0f0f0; }

.wrap {
  font-size: .95em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
  overflow: auto; }

.push {
  height: 120px;
  margin-top: 0; }

footer {
  background: #eeeeee;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 2px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
  background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
  height: 120px;
  margin-top: 0;
  border: 0; }
  footer * {
    line-height: inherit; }

ul {
  list-style-type: none; }

.content-drawer {
  margin-top: 60px; }

.content-main {
  min-height: 900px; }

.page-content h2 {
  font-weight: 400; }

.left-drawer {
  margin-top: 34px;
  background: #1a1a1a;
  z-index: 20; }

.main-content {
  background: #fff;
  padding: 1em;
  margin: 12px 0 0 0; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeOut {
  animation-name: fadeOut; }

@media screen and (max-width: 320px) {
  .ink-tabs.top > .tabs-nav li a {
    font-size: .8em;
    margin: 0; }

  footer .credits li {
    display: block;
    margin: 0; } }
.tabs-body {
  background: #fff;
  padding: 0 6px; }

.tabs-nav {
  margin-bottom: -22px; }

.tabs-content-inner {
  padding: 1.5em; }

textarea#summary {
  height: 120px; }

#map {
  height: 480px;
  width: 100%; }

.avatar-thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px; }

#admin-profile-data {
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  padding-top: 12px;
  z-index: 100;
  font-size: .8em;
  display: none;
  position: absolute;
  top: 54px;
  right: 4px;
  min-height: 80px;
  width: 200px; }
  #admin-profile-data h4, #admin-profile-data p {
    padding: 0 24px; }
    #admin-profile-data h4 a, #admin-profile-data p a {
      color: #11a5e0; }

/*# sourceMappingURL=admin.css.map */
